# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.html
autom4te.cache
stamp-h1
Makefile
config.status
config.log
config.h.in
aclocal.m4
Makefile.in
Makefile
/config/
config.h.in
configure
*~
/build*/
m4
libtool
*.o
*.la
*.lai
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report
.libs
.deps

quorra
